@{
    ViewData["Title"] = "Home Page";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4">
                <h3 class="panel-title">
                    Work list
                </h3>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="empty row">
            <div class="col-md-12">
            </div>
        </div>
        <div id="Grid">
        </div>
    </div>
</div>
<script type="text/javascript">
    var quoteUrl = function (q, level, result) {
        console.log('q, level, result', q, level, result);
        var action = "Details";
        switch (result)
        { 
            case 12:
                action = "Create";
                break;
            case 14:
                action = "Create";
                break;
        }
        var url = "/Quotes/" + action + "/" + app.userId + "/" + app.role + "/" + q;
        return url;
    }
    $(document).ready(function () {
        var url = "/api/quotes/worklist/" + app.userId + "/" + app.role;
        var quoteUrl = "/Quotes/Details/" + app.userId + "/" + app.role + "/";
        $("#Grid").kendoGrid({
            dataSource: {
                transport: {
                    read: url
                },
                schema: {
                    model: {
                        fields: {
                            quoteNumber: { type: "string" },
                            tpBackground: { type: "string" },
                            planningAccountNumber: { type: "string" },
                            endCustomerID: { type: "string" },
                            promoFromDatetime: { type: "date" },
                            promolToDatetime: { type: "date" },
                            quoteStatusLevelID: { type: "number" },
                            quoteStatusResultID: { type: "number" },
                        }
                    }
                },
                pageSize: 20,
            },
            height: 550,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [{
                field: "quoteNumber",
                title: "Quote#",
                template: "<b><a href='#=quoteUrl(quoteNumber,quoteStatusLevelID,quoteStatusResultID)#'>#=quoteNumber#</a></U>",
                filterable: true
            },
            {
                field: "tpBackground",
                title: "Description",
                filterable: true
            },
            {
                field: "planningAccountNumber",
                title: "Customer#",
                filterable: true
            },
            {
                field: "endCustomerID",
                title: "End Customer",
                filterable: true
            },
            {
                field: "promoFromDatetime",
                title: "Promo From Date",
                format: "{0:MM/dd/yyyy}"
            }, {
                field: "promolToDatetime",
                title: "Promo To Date",
                format: "{0:MM/dd/yyyy}"
            }
            ]
        });
    });
</script>
@*<script type="text/javascript">
        function onDatabound(e) { }
        function filterMenuInit(e) { }
        function GetCancelTemplate(value, QuoteID, CreatedByUserID) {
            return "<span class = 'glyphicon glyphicon-remove-circle padding-glyph'  onclick='cancelReportQuote(" + QuoteID + ")'></span>";
        }
        jQuery(function () {
            jQuery("#Grid1").kendoGrid({
                "dataBound": onDatabound,
                "filterMenuInit": filterMenuInit,
                "columns": [{
                    "attributes": {
                        "title": "Cancel Quote",
                        "class": "clickable"
                    },
                    "width": "30px",
                    "template": "#= GetCancelTemplate(StatusResultDescription,QuoteID,CreatedByUserID)#",
                    "locked": true
                }, {
                    "title": "Created By User ID",
                    "headerAttributes": {
                        "data-field": "CreatedByUserID",
                        "data-title": "Created By User ID"
                    },
                    "hidden": true,
                    "field": "CreatedByUserID",
                    "encoded": true
                }, {
                    "title": "Quote ID",
                    "headerAttributes": {
                        "data-field": "QuoteID",
                        "data-title": "Quote ID"
                    },
                    "hidden": true,
                    "field": "QuoteID",
                    "encoded": true
                }, {
                    "title": "Quote Type ID",
                    "headerAttributes": {
                        "data-field": "QuoteTypeID",
                        "data-title": "Quote Type ID"
                    },
                    "hidden": true,
                    "field": "QuoteTypeID",
                    "encoded": true
                }, {
                    "title": "Quote #",
                    "attributes": {
                        "class": "text-center"
                    },
                    "headerAttributes": {
                        "title": "Quote Number",
                        "class": "text-center",
                        "data-field": "QuoteNumber",
                        "data-title": "Quote #"
                    },
                    "width": "110px",
                    "template": "\u003cstrong\u003e\u003ca href=\"/Quote/Approval/#:data.QuoteID#/VP FINANCE/WorkList/#:data.QuoteTypeID#/#:data.SerialNumber#\" onclick=\"ShowPageBusyIndicator();\"\u003e#:data.QuoteNumber#\u003c/a\u003e\u003c/strong\u003e",
                    "locked": true,
                    "lockable": false,
                    "field": "QuoteNumber",
                    "encoded": true
                }, {
                    "title": "Description",
                    "headerAttributes": {
                        "title": "Description",
                        "class": "text-center",
                        "data-field": "Description",
                        "data-title": "Description"
                    },
                    "width": "300px",
                    "field": "Description",
                    "encoded": true
                }, {
                    "title": "Quote\u003cbr/\u003eType",
                    "headerAttributes": {
                        "title": "Quote Type",
                        "data-field": "QuoteType",
                        "data-title": "Quote\u0026lt;br/\u003eType"
                    },
                    "width": "100px",
                    "field": "QuoteType",
                    "filterable": {
                        "extra": false,
                        "multi": true,
                        "search": true,
                        "dataSource": {
                            "transport": {
                                "read": {
                                    "url": "/Worklist/LookUplist_Read",
                                    "data": {
                                        field: 'QuoteType'
                                    }
                                }
                            }
                        }
                    },
                    "encoded": true
                }, {
                    "title": "Product",
                    "headerAttributes": {
                        "title": "Product",
                        "data-field": "BusinessUnit",
                        "data-title": "Product"
                    },
                    "width": "141px",
                    "field": "BusinessUnit",
                    "filterable": {
                        "extra": false,
                        "multi": true,
                        "search": true,
                        "dataSource": {
                            "transport": {
                                "read": {
                                    "url": "/Worklist/LookUplist_Read",
                                    "data": {
                                        field: 'BusinessUnit'
                                    }
                                }
                            }
                        }
                    },
                    "encoded": true
                }, {
                    "title": "Region",
                    "headerAttributes": {
                        "title": "Region",
                        "data-field": "Region",
                        "data-title": "Region"
                    },
                    "width": "125px",
                    "field": "Region",
                    "filterable": {
                        "extra": false,
                        "multi": true,
                        "search": true,
                        "dataSource": {
                            "transport": {
                                "read": {
                                    "url": "/Worklist/LookUplist_Read",
                                    "data": {
                                        field: 'Region'
                                    }
                                }
                            }
                        }
                    },
                    "encoded": true
                }, {
                    "title": "Sold To",
                    "headerAttributes": {
                        "title": "Sold To",
                        "data-field": "SoldToName",
                        "data-title": "Sold To"
                    },
                    "width": "225px",
                    "field": "SoldToName",
                    "encoded": true
                }, {
                    "title": "Tier-2 Customer",
                    "headerAttributes": {
                        "title": "Tier-2 Customer",
                        "data-field": "EndCustomerName",
                        "data-title": "Tier-2 Customer"
                    },
                    "width": "225px",
                    "field": "EndCustomerName",
                    "encoded": true
                }, {
                    "title": "End User",
                    "headerAttributes": {
                        "title": "End User Name",
                        "data-field": "EndUserName",
                        "data-title": "End User"
                    },
                    "width": "200px",
                    "field": "EndUserName",
                    "encoded": true
                }, {
                    "title": "Submit\u003cbr/\u003eDate",
                    "headerAttributes": {
                        "title": "Submit Date",
                        "data-field": "SubmitDate",
                        "data-title": "Submit\u0026lt;br/\u003eDate"
                    },
                    "width": "100px",
                    "template": "#= formatDateTime(SubmitDate)#",
                    "field": "SubmitDate",
                    "filterable": {
                        "ui": showDateFilter
                    },
                    "encoded": true
                }, {
                    "title": "Valid Until",
                    "headerAttributes": {
                        "title": "Valid\u0026lt;/br\u003eUntil",
                        "data-field": "ValidUntil",
                        "data-title": "Valid Until"
                    },
                    "hidden": true,
                    "width": "70px",
                    "field": "ValidUntil",
                    "encoded": true
                }, {
                    "title": "Start\u003c/br\u003eDate",
                    "headerAttributes": {
                        "title": "Start Date",
                        "data-field": "PromotionStartDate",
                        "data-title": "Start\u0026lt;/br\u003eDate"
                    },
                    "width": "100px",
                    "template": "#=formatDateTime(PromotionStartDate)#",
                    "field": "PromotionStartDate",
                    "filterable": {
                        "ui": showDateFilter
                    },
                    "encoded": true
                }, {
                    "title": "End\u003c/br\u003eDate",
                    "headerAttributes": {
                        "title": "End Date",
                        "data-field": "PromotionEndDate",
                        "data-title": "End\u0026lt;/br\u003eDate"
                    },
                    "width": "100px",
                    "template": "#= formatDateTime(PromotionEndDate)#",
                    "field": "PromotionEndDate",
                    "filterable": {
                        "ui": showDateFilter
                    },
                    "encoded": true
                }, {
                    "title": "Total\u003cbr/\u003eQty",
                    "attributes": {
                        "class": "text-right"
                    },
                    "headerAttributes": {
                        "title": "Total Quantity",
                        "class": "text-center",
                        "data-field": "TotalQuantity",
                        "data-title": "Total\u0026lt;br/\u003eQty"
                    },
                    "width": "97px",
                    "field": "TotalQuantity",
                    "format": "{0:N0}",
                    "encoded": true
                }, {
                    "title": "Currency",
                    "headerAttributes": {
                        "title": "Currency",
                        "data-field": "Currency",
                        "data-title": "Currency"
                    },
                    "width": "143px",
                    "field": "Currency",
                    "encoded": true
                }, {
                    "title": "Need\u003cbr/\u003eApproval By",
                    "headerAttributes": {
                        "title": "Need Approval By",
                        "data-field": "NeedApprovalBy",
                        "data-title": "Need\u0026lt;br/\u003eApproval By"
                    },
                    "width": "120px",
                    "template": "#= formatDateTime(NeedApprovalBy)#",
                    "field": "NeedApprovalBy",
                    "filterable": {
                        "ui": showDateFilter
                    },
                    "encoded": true
                }, {
                    "title": "Requestor\u003cbr/\u003eName",
                    "attributes": {
                        "class": "text-center"
                    },
                    "headerAttributes": {
                        "title": "Requestor Name",
                        "class": "text-center",
                        "data-field": "RequestorName",
                        "data-title": "Requestor\u0026lt;br/\u003eName"
                    },
                    "width": "250px",
                    "field": "RequestorName",
                    "filterable": {
                        "extra": false,
                        "multi": true,
                        "search": true,
                        "dataSource": {
                            "transport": {
                                "read": {
                                    "url": "/Worklist/LookUplist_Read",
                                    "data": {
                                        field: 'RequestorName'
                                    }
                                }
                            }
                        }
                    },
                    "encoded": true
                }, {
                    "title": "Serial Number",
                    "headerAttributes": {
                        "data-field": "SerialNumber",
                        "data-title": "Serial Number"
                    },
                    "hidden": true,
                    "width": "150px",
                    "field": "SerialNumber",
                    "encoded": true
                }],
                "pageable": {
                    "buttonCount": 10
                },
                "sortable": true,
                "selectable": "Single, Row",
                "filterable": {
                    "extra": true,
                    "operators": {
                        "string": {
                            "contains": "Contains",
                            "startswith": "Starts with",
                            "eq": "Equal to",
                            "neq": "Not equal to",
                            "doesnotcontain": "Does not contain"
                        },
                        "number": {
                            "eq": "Equal to",
                            "neq": "Not equal to",
                            "gte": "Greater than or equal to",
                            "gt": "Greater than",
                            "lt": "Less than",
                            "lte": "Less than or equal to"
                        },
                        "date": {
                            "eq": "Equal to",
                            "gte": "After or equal to",
                            "gt": "After",
                            "lt": "Before",
                            "lte": "Before or equal to"
                        }
                    }
                },
                "resizable": true,
                "reorderable": true,
                "scrollable": {
                    "height": "Auto"
                },
                "noRecords": true,
                "messages": {
                    "noRecords": ""
                },
                "dataSource": {
                    "type": (function () {
                        if (kendo.data.transports['aspnetmvc-ajax']) {
                            return 'aspnetmvc-ajax';
                        } else {
                            throw new Error('The kendo.aspnetmvc.min.js script is not included.');
                        }
                    })(),
                    "transport": {
                        "read": {
                            "url": "/Worklist/Worklist_Read",
                            "data": worklistData
                        },
                        "prefix": ""
                    },
                    "pageSize": 20,
                    "page": 1,
                    "total": 0,
                    "serverPaging": true,
                    "serverSorting": true,
                    "serverFiltering": true,
                    "serverGrouping": true,
                    "serverAggregates": true,
                    "filter": [],
                    "schema": {
                        "data": "Data",
                        "total": "Total",
                        "errors": "Errors",
                        "model": {
                            "id": "QuoteID",
                            "fields": {
                                "DataView": {
                                    "editable": false,
                                    "type": "object"
                                },
                                "RowVersion": {
                                    "editable": false,
                                    "type": "number"
                                },
                                "Row": {
                                    "editable": false,
                                    "type": "object"
                                },
                                "IsNew": {
                                    "editable": false,
                                    "type": "boolean"
                                },
                                "IsEdit": {
                                    "editable": false,
                                    "type": "boolean"
                                },
                                "SubmitDate": {
                                    "type": "date"
                                },
                                "PromotionStartDate": {
                                    "type": "date"
                                },
                                "PromotionEndDate": {
                                    "type": "date"
                                },
                                "NeedApprovalBy": {
                                    "type": "date"
                                },
                                "TotalQuantity": {
                                    "type": "number"
                                }
                            }
                        }
                    },
                    "data": {
                        "Data": [],
                        "Total": 0,
                        "AggregateResults": null
                    }
                }
            });
        });
    </script>*@