@{
    ViewData["Title"] = "Home Page";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4">
                <h3 class="panel-title">
                    Work list
                </h3>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="empty row">
            <div class="col-md-12">
            </div>
        </div>
        <div id="Grid">
        </div>
    </div>
</div>
<script type="text/javascript">
    var quoteUrl = function (q, level, result) {
        console.log('q, level, result', q, level, result);
        var action = "Details";
        switch (result)
        { 
            case 12:
                action = "Create";
                break;
            case 14:
                action = "Create";
                break;
        }
        var url = "/Quotes/" + action + "/" + app.userId + "/" + app.role + "/" + q;
        return url;
    }
    $(document).ready(function () {
        var url = "/api/quotes/worklist/" + app.userId + "/" + app.role;
        var quoteUrl = "/Quotes/Details/" + app.userId + "/" + app.role + "/";
        $("#Grid").kendoGrid({
            dataSource: {
                transport: {
                    read: url
                },
                schema: {
                    model: {
                        fields: {
                            quoteNumber: { type: "string" },
                            tpBackground: { type: "string" },
                            planningAccountNumber: { type: "string" },
                            endCustomerID: { type: "string" },
                            promoFromDatetime: { type: "date" },
                            promolToDatetime: { type: "date" },
                            quoteStatusLevelID: { type: "number" },
                            quoteStatusResultID: { type: "number" },
                        }
                    }
                },
                pageSize: 20,
            },
            height: 550,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [{
                field: "quoteNumber",
                title: "Promo#",
                template: "<b><a href='#=quoteUrl(quoteNumber,quoteStatusLevelID,quoteStatusResultID)#'>#=quoteNumber#</a></U>",
                filterable: true
            },
            {
                field: "tpBackground",
                title: "Description",
                filterable: true
            },
            {
                field: "planningAccountNumber",
                title: "Customer#",
                filterable: true
            },
            {
                field: "endCustomerID",
                title: "End Customer",
                filterable: true
            },
            {
                field: "promoFromDatetime",
                title: "Promo From Date",
                format: "{0:MM/dd/yyyy}"
            }, {
                field: "promolToDatetime",
                title: "Promo To Date",
                format: "{0:MM/dd/yyyy}"
            }
            ]
        });
    });
</script>
